<!DOCTYPE html>
<html>
  <head>
    <title>
      Homepage
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner{
        height: 360px;
        object-fit:cover;
        width: 100%;
      }
    </style>
  </head>
  <body>
    {% include 'nav.html' %}
    <div class="container">
      <h1 class="mt-2">Flask Playground</h1>
      <h5 class="mb-4">by: thnc-7176</h5>
      <img class="img-fluid" id="banner" src="https://first-flask-website--thiagonaves2.repl.co/static/playground_home.jpg" height="320">
      <h5 class="mb-4">
        Photo by <a href="https://unsplash.com/@nicosmit99?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Nico Smit</a> on <a href="https://unsplash.com/photos/green-and-blue-animal-cartoon-character-eMFw6fSF7sM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
      </h5>
      <h2>
        About Flask Playground
      </h2>
      <p>
        This is the Flask Playground: a place where many small beginner's ideas are joined as webpages just for fun.
      </p>
      <h2>
        Projects
      </h2>

      <button class="btn btn-primary mt-4" onclick="location.href = '/carrers-homepage';">Carrers Page</button>
      <button class="btn btn-success mt-4">Brazilian Streets (CEP)</button>
      <button class="btn btn-danger mt-4">Currency Cotations</button>
      <button class="btn btn-warning mt-4">Country & Flags</button>
      <!--
      <p class="mt-5">
        Copyright 2023, thnc-7176
      </p>
      -->
    </div>
    {% include 'footer.html'%}
  </body>
</html>